{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block main %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Img1</th>
                <th>Img2</th>
                <th>Img3</th>
                <th>Igm4</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.Img1 }}</td>
                <td>{{ image.Img2 }}</td>
                <td>{{ image.Img3 }}</td>
                <td>{{ image.Igm4 }}</td>
                <td>
                    <a href="{{ path('app_image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('app_image_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_new') }}">Create new</a>
{% endblock %}
