{% extends 'admin/base.html.twig' %}
  {% block menu %} {% endblock %}

{% block title %}Order Details{% endblock %}

{% block style %}
    <style>
        td {
            text-align: center;
        }

        tr {
            height: 60px;
        }

        table {
            width: 100%;
        }

        thead {
            background-color: #000;
        }

        th {
            color: #fff;
        }
        .action-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .show-btn,
        .delete-btn{
            display: inline-block;
            height: 40px;
            width: 70px;
            color: #fff;
            margin: 0 5px;
            text-decoration: none;
            font-size: 14px;
            line-height: 40px;
            font-weight: 600;
            border-radius: 8px;
            border: none;
            background-color: #e51010;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block rightContent %}
    <h1 style="text-align: center; margin-bottom: 30px">Order details</h1>
    <h2>Information User</h2>
    {% for item in customer %}
    <div>Name:{{ item.name }}</div>
    <div>LastName:{{item.last_name }}</div>
    <div>Phone Number:{{ item.phone }}</div>
    <div>Email: {{ item.email }}</div>
        <div>Email: {{ item.location }}</div>
    {% endfor %}
{#    <div>ID: {{ order.user.id }}</div>#}
{#    <div>Name:{{ customer.name }}</div>#}
{#    <div>LastName:{{ order.user.lastname }}</div>#}
{#    <div>Phone Number:{{ order.user.phone }}</div>#}
{#    <div>Email: {{ order.user.email }}</div>#}

    <table class="table">
        <thead>
        <tr>
            <th>Id Order</th>
            <th>Product Name</th>
            <th>Image</th>
            <th>Product Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th> Link</th>
        </tr>
        </thead>
        <tbody>
            {% for detail in details %}
            <tr>
                <td>{{detail.id }}</td>
                <td>{{ detail.Name }}</td>
                <td> <img height="100px" src="{{ asset('assets/images/'~detail.Picture) }}"></td>
                <td>{{detail.Price }}</td>
                <td>{{detail.quantity }}</td>
                <td>{{detail.quantity * detail.Price }}</td>
                <td><a href="{{ path('app_product_show',{'id': detail.idproduct}) }}">Link</a> </td>

            </tr>
            {% endfor %}
{#            {{ form_start(form) }}#}
{#            <button class="btn">{{ button_label|default('Save') }}</button>#}
{#            {{ form_end(form) }}#}
        </tbody>
    </table>

{% endblock %}