{% extends 'base.html.twig' %}
{% block customstylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dash.css') }}">
{% endblock %}

{% block style %}
    <style>
        #add_to_cart_remove {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}Product{% endblock %}

{% block main %}

{#    <div class="card-wrapper3">#}
{#        <div class="card3">#}
{#            <a href="{{ path('app_shop') }}" class="form-icon">#}
{#                <i style="font-size: 20px" class="fa-solid fa-arrow-left form-icon__ic"></i>#}
{#                Back to list#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#    <div class="card-wrapper2">#}
{#        <div class="card2">#}
{#            <div class="product-img">#}
{#                <div class="img-display">#}
{#                    <div class="img-showcase">#}
{#                        <img src="{{ asset('assets/images/'~product.Picture) }}" class="img_detail">#}
{#                        <img style="height: 400px" src="{{ asset('assets/images/maxplus1.png') }}">#}
{#                        <img style="height: 400px" src="{{ asset('assets/images/maxplus1.png') }}">#}
{#                        <img style="height: 400px" src="{{ asset('assets/images/maxplus1.png') }}">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="img-select">#}
{#                    <div class="img-item">#}
{#                        <a href="#" data-id = "1">#}
{#                            <img src="{{ asset('assets/images/Jordan2.jpg') }}">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="img-item">#}
{#                        <a href="#" data-id = "1">#}
{#                            <img src="{{ asset('assets/images/Jordan3.jpg') }}">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="img-item">#}
{#                        <a href="#" data-id = "1">#}
{#                            <img src="{{ asset('assets/images/Jordan4.jpg') }}">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="img-item">#}
{#                        <a href="#" data-id = "1">#}
{#                            <img src="{{ asset('assets/images/Jordan5.jpg') }}">#}
{#                        </a>#}
{#                    </div>#}
{#                    {% for image in product.images %}#}
{#                    <div class="img-item">#}
{#                        <a href="#" data-id = "1">#}
{#                            <img src="{{ asset('assets/images/'~image.image) }}">#}
{#                        </a>#}
{#                    </div>#}
{#                    {% endfor %}#}

{#                </div>#}

    <div class="product_container">
        <div class="product_img_section">
            <div class="product_img_main">
                <img src="{{ asset('assets/images/'~product.Picture) }}" class="img_detail">

            </div>
            <div class="product_img_child">
                {% for image in product.images %}
                <div class="product_img_items">
                    <a href="#" data-id="1">
                        <img src="{{ asset('assets/images/'~image.image) }}" class="img_child">
                    </a>
                </div>

                {% endfor %}

{#                {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25'}}) }}#}
{#                {% do form.remove.setRendered %}#}
{#                {{ form_end(form) }}#}

{#                {% for image in product.images %}#}
{#                    <div class="img-item">#}
{#                        <a href="#" data-id="1">#}
{#                            <img src="{{ asset('assets/images/'~image.image) }}" class="img_child">#}
{#                        </a>#}
{#                    </div>#}
{#                {% endfor %}#}


            </div>
        </div>
        <div class="product_content">
            <h3 class="product_label">{{ product.brand }}</h3>
            <h2 class="product_title">{{ product.Name }}</h2>

            {#                                #}{# Điều hướng theo tên của brand #}
            {#                {% set brand = product.Brand %} #}
            {#                {% if brand == 'Nike' %} #}
            {#                    <a class="product-link" href="#">Visit {{ product.Brand }} store</a> #}
            {#                {% endif %} #}
            {#                {% if brand == 'Adidas' %} #}
            {#                    <a class="product-link" href="#">Visit {{ product.Brand }} store</a> #}
            {#                {% endif %} #}

            {#                {% if brand != 'Adidas' and  brand != 'Nike'%} #}
            {#                    <a class="product-link" href="#">Visit {{ product.Brand }} store</a> #}
            {#                {% endif %} #}

            <div class="product-rating">
                <i class="fas fa-star rating_icons"></i>
                <i class="fas fa-star rating_icons"></i>
                <i class="fas fa-star rating_icons"></i>
                <i class="fas fa-star rating_icons"></i>
                <i class="fas fa-star-half-alt rating_icons"></i>
                <span>4.8(32)</span>
            </div>
            <div class="product-price">
                <p class="product_price old_price">Old Price: <span class="price_amount">${{ product.Price + 10 }}
                <p class="product_price new_price">New Price: <span class="price_amount">${{ product.Price }}
            </div>
            <div class="product-detail">
                <h2 class="product_description"> Product Desription:</h2>
                <p class="product_description_txt">{{ product.Description }}</p>
                <ul class="product_quantity">
                    <li><i class="fa-solid fa-circle-check"></i>Available: <span class="product_goal">In the store.</span></li>
                    <li><i class="fa-solid fa-circle-check"></i>Category: <span class="product_goal">{{ product.Category }}.</span></li>
                    <li><i class="fa-solid fa-circle-check"></i>Shipping Area: <span class="product_goal">In Viet Nam.</span></li>
                    <li><i class="fa-solid fa-circle-check"></i>Shipping Fee:<span class="product_goal">Depend on area.</span></li>
                </ul>
            </div>
{#            {% if app.user %}#}
            {{ form_start(form, {'attr': {'class': 'product_form_proceed'}}) }}
            <div class="show_func_btn">
                {{ form_label(form.quantity) }}: {{ form_widget(form.quantity, {'attr': {'class': 'form_quantity'}}) }}
            </div>
            {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25 product_btn_add'}}) }}
            {{ form_end(form, {'attr': {'class': 'product_btn_re'}}) }}
{#                {% else %}#}
{#                    {{ form_start(form, {'attr': {'class': 'product_form_proceed'}}) }}#}
{#                    <div class="show_func_btn">#}
{#                        {{ form_label(form.quantity) }}: {{ form_widget(form.quantity, {'attr': {'class': 'form_quantity'}}) }}#}
{#                    </div>#}
{#                    <button><a href="{{ path('login') }}">Buy</a> </button>#}
{#            {% endif %}#}
        </div>

    </div>

{% endblock %}