{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block main %}

    {{ form_start(form) }}
    <div class="edit_profile_container">

        <label for="user_name" class="form-label">First name</label>
        {{ form_widget(form.name) }}
        <label for="user_last_name" class="form-label">Last name</label>
        {{ form_widget(form.last_name) }}
        <label for="user_last_name" class="form-label">Phone</label>
        {{ form_widget(form.phone) }}
        <label for="user_last_name" class="form-label">Location</label>
        {{ form_widget(form.location) }}
        <label for="user_last_name" class="form-label">Avatar</label>
        {{ form_widget(form.avatar) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

    </div>


{% endblock %}