{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block main %}

{{ form_start(form) }}
<div class="form-group">
    <label for="user_name" class="form-label">First name</label>
    {{ form_widget(form.name) }}
</div>
<div class="form-group">
    <label for="user_last_name" class="form-label">Last name</label>
    {{ form_widget(form.last_name) }}
</div>


<button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


{% endblock %}