{% extends 'base.html.twig' %}
{% block menu %}{% endblock %}
{% block style %}
    <style>
        input {
            border-radius: 8px;
            background-color: #f5f5f5;
            padding: 10px;
            font-size: 16px;
            color: #333;
            border: 1px solid #b3b3b3;
            margin-bottom: 10px;
        }
        input:active{
            background-color: rgba(135, 172, 235, 0.678);
            transition: all 1s linear;
        }
        input:focus{
            outline: none;
            box-shadow: 0px 0px 20px #ffff;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="login_container">
        <a class="log_home_btn" href="{{ path('main_page') }}">
            <i class="fa-solid fa-house log_home_icon"></i>
        </a>
{#        <form id="form-1" method="POST" action="#" class="needs-validation" novalidate>#}
        {{ form_start(form,{'attr': {'novalidate':'novalidate','class':'needs-validation'}}) }}

            <h3 class="heading_bg">Please sign up</h3>
            <div class="form-group">
                <label for="user_name" class="form-label">First name</label>
{#                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" value="" required>#}
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group">
                <label for="user_last_name" class="form-label">Last name</label>
{#                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" value="" required>#}
                {{ form_widget(form.last_name) }}
            </div>
            <div class="form-group">
                <label for="user_email" class="form-label">Email</label>
{#                <input type="email" class="form-control" id="email" placeholder="email@domain.com" required>#}
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                <label for="user_password_first" class="form-label">Password</label>
{#                <input type="password" class="form-control" id="password" placeholder="Enter your password" required>#}
                {{ form_widget(form.password.first) }}
            </div>
            <div class="form-group">
                <label for="user_password_second" class="form-label">Confirm Password</label>
{#                <input type="password" class="form-control" id="confirm_password" placeholder="Re-enter your password" required>#}
                {{ form_widget(form.password.second) }}
            </div>

{#            <a href="" role="button">#}
{#                <button class="login_btn" type="submit">Register</button>#}
{#            </a>#}

            <button type="submit" class="login_btn">Register</button>


            <a class="text_route_form" href="{{ path('login') }}">Have an account</a>
        {{ form_end(form) }}
    </div>


{% endblock %}

{#{% block js %}#}
{#    #}{#        Xử lý các yêu cầu #}
{#    <script src={{ asset('assets/js/validator.js') }}></script>#}

{#    #}{#    Lệnh để gọi những yêu cầu mà chúng ta muốn validate #}
{#    <script>#}
{#        Validator({#}
{#            form: '#form-1',#}
{#            formGroupSelector: '.form-group',#}
{#            errorSelector: '.form-message',#}
{#            rules: [#}
{#                Validator.isRequired('#firstName', 'Please input your firstname'),#}
{#                Validator.isRequired('#lastName', 'Please input your lastname'),#}
{#                Validator.isRequired('#email', 'Please input your email'),#}
{#                Validator.isEmail('#email', 'You must input an email'),#}
{#                Validator.minLength('#password', 6, 'Please enter at least 6 characters'),#}
{#                Validator.isRequired('#confirm_password', 'Please input your confirm password'),#}
{#                Validator.isConfirmed('#confirm_password', function () {#}
{#                    return document.querySelector('#form-1 #password').value;#}
{#                }, 'Confirm password is incorrect'),#}
{#            ],#}
{#        })#}
{#    </script>#}


{#{% endblock %}#}

{% block footer_links %}{% endblock %}