<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

    <link rel="icon"
          href="https://www.freepnglogos.com/uploads/shopee-logo/shopee-bag-logo-free-transparent-icon-17.png"
          type="image/x-icon"/>

    {% block style %} {% endblock %}
    {% block customstylesheets %}{% endblock %}

    <title>{% block title %}Authentic Shoes {% endblock %}</title>

</head>
<body>
{% block menu %}
    <div class="menu_container">
        <div class="menu_text_section">
            <p style="display: inline-block" class="text_label">🤡</p>

        </div>
            {% if app.user%}
            <div style="display: flex;align-items: center;" class="menu_log_section">
            {% endif %}

            {% if not app.user%}
            <div class="menu_log_section">
            {% endif%}

            {% if app.user%}
                <a href="{{ path('profile',{'id':app.user.id}) }}"> <i class="fa-solid fa-user"></i> </a>
                <a class="btn_log" href="{{ path('profile',{'id':app.user.id}) }}">Login as {{ app.user.name }} {{ app.user.lastname }}</a>
                <a style="color: red" class="btn_log" href="{{ path('logout') }}">Log out</a>
            {% endif %}
            {% if  not app.user  %}
                <a class="btn_log" href="{{ path('register') }}">Sign up</a> |
                <a class="btn_log" href="{{ path('login') }}">Sign in</a>
            {% endif %}
        </div>
    </div>
    <div class="menu_container_option">
        <div class="menu_logo_section">
            <h2 class="heading_double">TLT</h2>
        </div>
        <div class="menu_select_section">
            <a class="text_option" href="{{ path('main_page') }}">Home</a>
            <a class="text_option" href="{{ path('app_shop',{'pageId':1}) }}">Shop</a>

            <a class="text_option" href="{{ path('app_shop_Adidas',{'pageId':1}) }}">Adidas</a>
            <a class="text_option" href="{{ path('app_shop_Nike',{'pageId':1}) }}">Nike</a>

            <a class="text_option" href="#footer">Contact</a>
            <a href="#footer" class="text_option" >About Us</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="text_option" href="{{ path('admin') }}">My Admin</a>
            {% endif %}
        </div>
        <div class="menu_field_section">
            {#        <form #}

            {#            method="POST" #}

            {#            class="menu_searcing_form" #}

            {#            action="#" #}

            {#        > #}

            {#          <input #}

            {#              class="menu_search_input" #}

            {#              type="search" #}

            {#              placeholder="video title" #}

            {#              aria-label="Search video" #}

            {#          /> #}

            {#        </form> #}

            <form action="{{ path('app_shop') }}" class="menu_searcing_form">

                <input type="search" name="search" class="menu_search_input" placeholder="Search product"
                       aria-label="Search video">

                <button class="search_btn" type="submit">
                    <span class="text_search">Search</span>
                </button>

            </form>
        </div>
        <div class="menu_proceed_section">
            {% if app.user%}
            <a class="btn_trolley" href="{{ path('cart') }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
                          class="trolley_icon"/>
                </svg>
            </a>
            {% endif %}
            {% if not app.user%}
            <a class="btn_trolley" href="{{ path('login') }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
                          class="trolley_icon"/>
                </svg>
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block main %}
{% endblock %}
{% block javascripts %} {% endblock %}
{% block footer_links %}
    <footer id="footer" class="footer_container">
        <div class="footer_col">
            <small class="d-block mb-3 text-muted">&copy; Thien - Truong - Linh</small>
        </div>
        <div class="footer_col">
            <h5 class="heading_penta">Contact</h5>
            <ul class="footer_list_link">
                <li>
                    <i class="footer-contact-icon fa-brands fa-facebook"></i>
                    <a class="footer_link" href="#">Facebook</a>
                </li>
                <li>
                    <i class="footer-contact-icon  fa-brands fa-youtube"></i>
                    <a class="footer_link" href="#">Youtube</a>
                </li>
                <li>
                    <i class="footer-contact-icon  fa-brands fa-vimeo"></i>
                    <a class="footer_link" href="#">Vimeo</a>
                </li>
                <li>
                    <i class="footer-contact-icon fa-brands fa-twitter"></i>
                    <a class="footer_link" href="#">Twister</a>
                </li>
                <li>
                    <i class="footer-contact-icon fa-brands fa-instagram"></i>
                    <a class="footer_link" href="#">Instagram</a>
                </li>
                <li>
                    <i class="footer-contact-icon fa-solid fa-envelope"></i>
                    <a class="footer_link" href="#">Gmail</a>
                </li>
            </ul>
        </div>
        <div class="footer_col">
            <h5 class="heading_penta">Resources</h5>
            <ul class="footer_list_link">
                <li><a class="footer_link" href="#">Help center</a></li>
                <li><a class="footer_link" href="#">Blog</a></li>
                <li><a class="footer_link" href="#">Guidelines</a></li>
                <li><a class="footer_link" href="#">Developers</a></li>
            </ul>
        </div>
        <div class="footer_col">
            <h5 class="heading_penta">About</h5>
            <ul class="footer_list_link">
                <li><a class="footer_link" href="#">Team</a></li>
                <li><a class="footer_link" href="#">Contact</a></li>
                <li><a class="footer_link" href="#">Jobs</a></li>
                <li><a class="footer_link" href="#">Partners</a></li>
                <li><a class="footer_link" href="#">Terms</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}



{# <script> #}
{#    $(function () { #}
{#        $('[data-toggle="tooltip"]').tooltip() #}
{#    }) #}
{# </script> #}

{% block js %}
{% endblock %}


{#<script>#}
{#    $(function () {#}
{#        $('[data-toggle="tooltip"]').tooltip()#}
{#    })#}
{#</script>#}

</body>
</html>
