{% extends 'admin/base.html.twig' %}

{% block style %}
    <style>
        td {
            text-align: center;
        }

        tr {
            height: 60px;
        }

        table {
            width: 100%;
        }

        thead {
            background-color: #000;
        }

        th {
            color: #fff;
        }

        .action-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .edit-btn,
        .delete-btn,
        .show-btn {
            display: inline-block;
            height: 40px;
            width: 70px;
            color: #fff;
            margin: 0 5px;
            text-decoration: none;
            font-size: 14px;
            line-height: 40px;
            font-weight: 600;
            border-radius: 8px;
        }

        .show-btn {
            background-color: #10c5e5;

        }

        .delete-btn {
            border: none;
            background-color: #e51010;
        }

        .edit-btn {
            background-color: #4CAF50;
        }


    </style>
{% endblock %}

{% block menu %} {% endblock %}

{% block rightContent %}
    <h1 style="text-align: center; margin-bottom: 30px">List item</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Brand</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    <img style="height: 50px; width: 70px; margin: 0 auto;"
                         src="{{ asset('assets/images/'~product.Picture) }}" alt="">
                </td>
                <td>{{ product.Name }}</td>
                <td>{{ product.Price }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.Brand }}</td>
                <td class="action-container">
                    <a class="show-btn" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a class="edit-btn" href="{{ path('admin_product_edit', {'id': product.id}) }}">edit</a>
                    <a>
                        <form method="post" action="{{ path('admin_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                            <button class="btn delete-btn">Delete</button>
                        </form>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}