{% extends 'admin/base.html.twig' %}
  {% block menu %} {% endblock %}

{% block style %}
    <style>
        .link__product {
            color: #10c5e5;
        }
    </style>
{% endblock %}

{% block title %}Product index{% endblock %}


    {% block rightContent %}
        <div class="right-container">
            <h1 class="product-page-heading">List Product</h1>

            <div class="product-container">
                {% for product in products %}

                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="product-item">
                        <img class="product-img" src="{{ asset('assets/images/'~product.Picture) }}" alt="">
                        <p class="product-name">{{ product.Name }}</p>
                        <div class="product-price">
                            <p class="product-price__old">{{ product.Price + 10 }}$</p>
                            <p class="product-price__new">{{ product.Price }}$</p>
                        </div>
                        <div class="product-favorite">
                            <i class="fas fa-check product-favorite__ic"></i>
                            <span class="product-favorite__text">Favorite</span>
                        </div>

                        <div class="product__action">
                            <span class="product__like ">
                                <i class="product__like-icon fas fa-heart "></i>
                            </span>

                            <div class="product__rating">
                                <i class="product__star--gold fas fa-star"></i>
                                <i class="product__star--gold fas fa-star"></i>
                                <i class="product__star--gold fas fa-star"></i>
                                <i class="product__star--gold fas fa-star"></i>
                                <i class=" fas fa-star"></i>
                            </div>
                            <span class="product__sold">{{ product.Price * 8/ 2 }} Sold</span>
                        </div>



                        <div class="product__origin">
                            <span class="product__origin-brand">{{ product.Brand }}</span>
                            <span class="product__origin-name">TP.Hồ Chí Minh</span>
                        </div>




                    </a>

                {% endfor %}
            </div>

        </div>
    {% endblock %}
