{% extends 'base.html.twig' %}
{% block customstylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dash.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/Style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block title %}Product{% endblock %}

{% block main %}
    <div class="card-wrapper">
        <div class="card">
            <a href="{{ path('app_product_index') }}" class="form-icon">
                <i style="font-size: 20px" class="fa-solid fa-arrow-left form-icon__ic"></i>
                Back to list
            </a>
            <div class="product-img">
                <div class="img-display">
                    <div class="img-showcase">
                        <img alt="" class="img-showcase_main-img" src="{{ asset('assets/images/'~product.Picture) }}">
    <div class="card-wrapper2">
        <div class="card2">
            <div class="product-img">
                <div class="img-display">
                    <div class="img-showcase">
                        <img src="{{ asset('assets/images/'~product.Picture) }}">
                        <img style="height: 400px" src="{{ asset('assets/images/maxplus1.png') }}">
                        <img style="height: 400px" src="{{ asset('assets/images/maxplus1.png') }}">
                        <img style="height: 400px" src="{{ asset('assets/images/maxplus1.png') }}">
                    </div>
                </div>
                <div class="img-select">
                    {% for image in images.image %}
                    <div class="img-item">
                        <a href="#" data-id="1">
                            <img src="{{ asset('assets/images/'~image) }}">
                        </a>
                    </div>
                    {% endfor %}
{#                    <div class="img-item">#}
{#                        <a href="#" data-id="1">#}
{#                            <img src="{{ asset('assets/images/maxplus1.png') }}">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="img-item">#}
{#                        <a href="#" data-id="1">#}
{#                            <img src="{{ asset('assets/images/maxplus1.png') }}">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="img-item">#}
{#                        <a href="#" data-id="1">#}
{#                            <img src="{{ asset('assets/images/maxplus1.png') }}">#}
{#                        </a>#}
{#                    </div>#}
                </div>
            </div>
            <div class="product-content">
                <h2 class="product-title">{{ product.Name }}</h2>

                {# Điều hướng theo tên của brand #}
                {% set brand = product.Brand %}
                {% if brand == 'Nike' %}
                    <a class="product-link" href="#">Visit {{ product.Brand }} store</a>
                {% endif %}
                {% if brand == 'Adidas' %}
                    <a class="product-link" href="#">Visit {{ product.Brand }} store</a>
                {% endif %}

                {% if brand != 'Adidas' and  brand != 'Nike'%}
                    <a class="product-link" href="#">Visit {{ product.Brand }} store</a>
                {% endif %}
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.8(32)</span>
                </div>
                <div style="justify-content: space-between" class="product-price">
                    <p class="old-price">Old Price: <span>${{ product.Price +10}}
                    <p class="new-price">New Price: <span>${{ product.Price}}
                </div>
                <div class="product-detail">
                    <h2> About this product:</h2>
                    <p>{{ product.Description }}</p>
                    <ul>
                        <li><i class="fa-solid fa-circle-check"></i>Available: <span>in the store</span></li>
                        <li><i class="fa-solid fa-circle-check"></i>Category: <span>{{ product.Category }}</span></li>
                        <li><i class="fa-solid fa-circle-check"></i>Shipping Area: <span>in Viet Nam</span></li>
                        <li><i class="fa-solid fa-circle-check"></i>Shipping Fee:<span>depend on area</span></li>
                    </ul>
                </div>
                {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                <div class="form-group">
                    {{ form_label(form.quantity) }}:
                    {{ form_widget(form.quantity) }}
                </div>
                {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}