{% extends 'admin/base.html.twig' %}

{% block style %}
    <style>
        td {
            text-align: center;
        }

        tr {
            height: 60px;
        }

        table {
            width: 100%;
        }

        thead {
            background-color: #000;
        }

        th {
            color: #fff;
        }

        .action-container {
            display: flex;
            justify-content: space-around;
        }

        .edit-btn,
        .delete-btn,
        .show-btn {
            display: inline-block;
            height: 40px;
            width: 70px;
            color: #fff;
            margin: 0 5px;
            text-decoration: none;
            font-size: 14px;
            line-height: 40px;
            font-weight: 600;
            border-radius: 8px;
        }

        .show-btn {
            background-color: #10c5e5;

        }

        .delete-btn {
            border: none;
            background-color: #e51010;
        }

        .edit-btn {
            background-color: #4CAF50;
        }


    </style>
{% endblock %}

{% block menu %} {% endblock %}

{% block rightContent %}
    <h1 style="text-align: center; margin-bottom: 30px">List item</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Delivery address</th>
            <th>Order Date</th>
            <th>Order Phone</th>
            <th>Name Customer</th>
            <th>Order status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.Delivery_address }} </td>
                <td>{{ order.OrderDate ? order.OrderDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.Order_phone }}</td>
                <td>{{ order.Name_customer }}</td>
                <td>{{ order.Order_status }}</td>
                <td class="action-container">
                    <a class="show-btn" href="{{ path('app_order_show', {'id': order.id}) }}">show</a>
                    <a class="edit-btn" href="{{ path('app_order_edit', {'id': order.id}) }}">edit</a>
                    <a>
                        <form method="post" action="{{ path('app_order_delete', {'id': order.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
                            <button class="btn delete-btn">Delete</button>
                        </form>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}